.Curve {
  display: flex;
  padding: 40px;
}

.Curve-line {
  height: 10px;
  background: #222;
  position: relative;
  width: 100%;
}

.Curve-line-keypoint {
  height: 20px;
  width: 10px;
  background: #999;
  position: absolute;
  top: -50%;
  transform: translate(-50%);
}

.Curve-line-keypoint-position {
  position: absolute;
  top: 100%;
  color: black;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
}

.Curve-line-keypoint-delete {
  position: absolute;
  top: -125%;
  background: rgba(255, 8, 0, 0.603);
  color: white;
  padding: 0 3px;
  left: -3px;
  border-radius: 5px;
}
