html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
